  <section id="create-shipment-form" class="form">
    <strong><u>Add a Shipment</u></strong>
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="flex-container">
        <div>
          <div class="form-group">
            {{ form.registration_number.label }}
            {{ form.registration_number }}
          </div>

          <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name }}
          </div>

          <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name }}
          </div>

          <div class="form-group">
            {{ form.origin.label }}
            {{ form.origin }}
          </div>
          <div class="form-group">
            {{ form.destination.label }}
            {{ form.destination }}
          </div>

          <div class="form-group">
            {{ form.tag_colour.label }}
            {{ form.tag_colour }}
          </div>
          <div class="form-group">
            {{ form.tag_code.label }}
            {{ form.tag_code }}
          </div>
        </div>
        <div>
          <div class="form-group">
            {{ form.date_received.label }}
            {{ form.date_received }}
          </div>
          <div class="form-group">
            {{ form.date_out.label }}
            {{ form.date_out }}
          </div>

          <div class="form-group">
            {{ form.driver_in.label }}
            {{ form.driver_in }}
          </div>
          <div class="form-group">
            {{ form.driver_out.label }}
            {{ form.driver_out }}
          </div>

          <div class="form-group">
            {{ form.checked_in_by.label }}
            {{ form.checked_in_by }}
          </div>
          <div class="form-group">
            {{ form.checked_out_by.label }}
            {{ form.checked_out_by }}
          </div>
        </div>
      </div>
      <div>
        <button name='create_shipment'type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </section>
{% include '_partials/_flash.html' %}
