<section class="section">
  <label>Select A Type of Shipment:</label>
  <div class="section-check">
    <input class="section-check-input" type="radio" name="type" id="floor" value="0">
    <label class="section-check-label"for="floor">Floor</label>
  </div>
    <div class="section-check">
    <input class="section-check-input" type="radio" name="type" id="pallet" value="1">
    <label class="section-check-label"for="pallet">Pallet</label>
  </div>
    <div class="section-check">
    <input class="section-check-input" type="radio" name="type" id="trailer" value="2">
    <label class="section-check-label"for="trailer">Trailer</label>
  </div>
  <div class="section-type-submit">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</section>
