<section>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
        <div style="padding: 10px; margin-top: 10px; background-color: red; color: white;">
          {{ message }}
        </div>
      {% elif category == "success" %}
        <div style="padding: 10px; margin-top: 10px; background-color: green; color: white;">
          {{ message }}
        </div>
      {% elif category == "info" %}
        <div style="padding: 10px; margin-top: 10px; background-color: rgb(6, 99, 221); color: white;">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
</section>
